.icon{
    background: url('../../assets/img/Sprites.64af8f61.svg');
    height: 24px;
    width: 24px;
    padding: 4px;
    cursor: pointer;
}
#icon__logo{
    background-position:-419px -84px;
    background-repeat: no-repeat;
  
  
}
.header__logo--icon{

margin:12px 10px 12px 16px ;


}
#icon__toggle{
    background-position:-840px -25px;
    background-repeat: no-repeat;

}
#icon__ring{
    background-position:-783px -25px;
    background-repeat: no-repeat;
}
#icon__user{
    background-position:-352px -894px;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 16px;
    margin-top: 12px;
 
}
#icon__drop{
    background-position:-460px -400px;
    background-repeat: no-repeat;

}
#icon__combobox{
    background-position:-1122px -355px;
    background-repeat: no-repeat;
    

}

/* icon sidebar  */
.icon__sidebar{
    margin-right: 8px;
   
}
#dashboard{
    background-position: -25px -1625px;
    background-repeat: no-repeat;
}
#cash{
    background-position:  -70px -1625px;
    background-repeat: no-repeat;
}
#bank{
    background-position: -112px -1625px;
    background-repeat: no-repeat;
}
#buy{
    background-position: -157px -1625px;
    background-repeat: no-repeat;
}
#shop{
    background-position: -200px -1625px;
    background-repeat: no-repeat;
}
#Mana__order{
    background-position: -245px -1625px;
    background-repeat: no-repeat;
}
#warehouse{
    background-position: -285px -1625px;
    background-repeat: no-repeat;
}
#ccdc{
    background-position:-330px -1625px;
    background-repeat: no-repeat;
}
#tscd{
    background-position: -374px -1625px;
    background-repeat: no-repeat;
}
#tax{
    background-position: -419px -1627px;
    background-repeat: no-repeat;
}
#price{
    background-position: -463px -1625px;
    background-repeat: no-repeat;
}
#total{
    background-position: -505px -1625px;
    background-repeat: no-repeat;
}
#budget{
    background-position: -374px -1657px;
    background-repeat: no-repeat;
}
#report{
    background-position: -542px -1628px;
    background-repeat: no-repeat;
}
#pttc{
    background-position: -200px -1658px;
    background-repeat: no-repeat;
}

/* icon content  */
#icon__search{
    background-position:-310px -133px;
    background-repeat: no-repeat;  
}
#icon__reload{
    background-position: -1092px -85px;
    background-repeat: no-repeat;
}
.content__reload{
    margin: 8px 16px;
}

#icon__edit--drop{
    background-position: -888px -351px;
    background-repeat: no-repeat;
    margin-top: 8px;
}
#icon__paging{
    background-position:-1744px -302px;
    background-repeat: no-repeat;
}
#icon__paging--up{
    background-position:-120px -352px;
    background-repeat: no-repeat;
}

/* icon detail employee  */
#icon__question{
    background-position: -83px -140px;
    margin-right: 10px;
    background-repeat: no-repeat;
}
#icon__close{
    background-position: -140px -140px;
    background-repeat: no-repeat;
}

/* dialog waring icon  */
#icon__waring{
    background-position: -590px -458px;
    background-repeat: no-repeat;
    width: 50px;
    height: 37px;
}
#icon__error{
    background-position: -752px -457px;
    background-repeat: no-repeat;
    width: 37px;
    height: 36px; 
}
#icon__ask{
    background-position: -832px -462px;
    background-repeat: no-repeat;
    width: 37px;
    height: 37px;
}