
input[type=text]{
    height: 30px;
    outline: none;
    border: 1px solid #bbbbbb;
    border-radius: 4px;   
    padding-left: 16px;
}
input[type=date]{
    height: 30px;
    outline: none;
    border: 1px solid #bbbbbb;
    border-radius: 4px;   
    padding-left: 16px;
    padding-right: 8px;
    width: calc(100% - 16px);
}
input[type=text]:focus{
    height: 30px;
    outline: none;
    border: 1px solid #019160;
    border-radius: 4px;   
   
}
input[type=checkbox]{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-left: 16px;
    background-color: #50B83C;
}

/* input[type='checkbox']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
} */
/* input[type='checkbox']:before {
    content: '';
    display: block;
}
input[type='checkbox']:checked:after {
    content: '✔';
    color: #50B83C;
  } */
input[type="checkbox"]:checked {
    background: #50B83C;
    
}
input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 1px solid gray;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background: #50B83C;
    
}

input[type="radio"]:checked {
  border-color:#50B83C;
}
.item__radio{
    margin-left: 16px;
}
.item__radio:hover{
    cursor: pointer;
}

.lable-input{
    margin-bottom: 4px;
}
.color-red{
    color: red;
}
.content__search--data{
    display: flex;
    justify-content: start;
    position: relative;
    align-items: center;
}
.search{
    position: absolute;
    top: 1px;
    right: 6px;
}
.content__search--data input[type=text]{   
    width: 220px;

}
input[type=text]::placeholder{
    font-size: 12px;
}