.btn{
    height: 32px;
    padding: 0 16px;
    border-radius: 4px;
    color: var(--color--white);
    text-align: center;
    background-color: var(--color--btn--primary);
    outline: none;
    border: none;
    line-height: 32px;
}

.btn__save{
    background-color: var(--color--white);
    border: var(--boder--solid--input);
    color: var(--color--black);
    margin-right: 16px;
}
.btn__cancel{
    background-color: var(--color--white);
    color:var(--color--black);
    border: var(--boder--solid--input);
  
}
.btn__aprove{
    background-color:var(--color--btn--primary); 
    color:var(--color--white);
}
.btn__cancel--delete{
    background-color: var(--color--white);
    color:var(--color--black);
    border: var(--boder--solid--input);
    float:left;
}
.dialog__two--bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.btn__multiple{
    display: flex;
    background-color: #fff;
    border-radius: 30px;
    color: #111;
    border: 2px solid #3b3c3f;
}
.btn__delete--multiple{
    position: absolute;
    top: 85%;
    z-index: 10;
    left: 56%;
    background-color: #fff;
    color: #111;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    line-height: 23px;
    width: 80px;
}
.dialog__ask--bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.btn__aprove--ask{
margin-left: 10px;
border:1px solid var(--color--btn--primary);
}