.table{   
    width: 1499px;
    border-spacing: 0;
}

.table thead{
    position: sticky;
    top: 0;
    z-index: 9;
    text-transform: uppercase;
}
.table th,td{
    height: 45px;
    border-bottom: var(--boder--solid--input);
    border-right: var( --border--dotted);
}
.table th{
    background-color:  #e5e8ec;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-right: var(--boder--solid--input);
}
.table td{
    padding-left: 10px;
    padding-right: 10px;
    /* text-align: left; */
}
.td__loading{
    position: relative;
  }

.edit__td{
    display: flex;
    justify-content: center;
    line-height: 48px;
    position: relative;
}
.column__sticky{
    position: sticky;
   
    background-color: var(--color--white);
    z-index: 1;
    border-left: var(--border--dotted);
}
.column__checkbox {
left: 0px;
}
.column__edit{
    right: 0px;
}

.column__edit--th{
    z-index: 1;
    border-left: var(--border--dotted);
}
.value__edit{
    border: var(--boder--solid--input);
    position: absolute;
    z-index: 9;
    width: 125px;
    top: 260px;
    right: 80px;
    background-color: var(--color--white);
}
.edit__item{
    padding: 5px 10px;
}
.width__60{
    min-width: 60px;
}
.width__100{
    min-width: 100px;
}
.width__150{
    min-width: 150px;
}

.width__200{
    min-width: 200px;
}
.width__250{
    min-width: 250px;
}
.width__340{
    min-width: 340px;
}
.width__400{
    min-width: 400px;
}

.text__left{
    text-align: left;
}
.text__center{
    text-align: center !important;
}
.text__right{
    text-align: right;
}
.text__edit{
    color: #0075c0;
    font-weight: bold;
}