.tooltip {
    position: relative;
    /* display: inline-block; */
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #f1f1f1;
    color: #111;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-weight: 100;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 50%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
}