.input:focus{
    outline: none;
    border: 1px solid #019160;
    /* border-radius: 4px;    */
}
.btn:focus{
    outline: none;
    /* height: 32px; */
    box-shadow: 4px 0px 4px rgb(23 27 42 / 24%);
    /* border: 1px solid #babec5; */
}
