.header__left{
display: flex;
justify-content: start;
flex-direction: row;
}
.header__logo{
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 34px;
    background-color: #3c3e3d;
}
.header__logo--img img{
    height: 36px;
}
.header__select{
    display: flex;
    justify-content: start;
    align-items: center;
    outline: none;
    border: none;
    margin-left: 22px;
}
.header__account{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
}
.header__account--info{
    display: flex;
    justify-content: start;
    line-height: 56px;
}

.header__account--ring{
    margin-right: 24px;
}
