.sidebar{
    padding-top: 20px;
}
.sidebar__item{
    height: 42px;
    margin: 2px 0;
    padding: 0px 12px;
    display: flex;
    justify-content: start;
    color: #fff;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}
.exact-active-link {
    color: var(#fff);
    /* font-weight: 500; */
    background-color: #6e6b6b;
    /* font-family: GoogleSans-Medium; */
    border-left: 6px solid var(--color--btn--primary);
    padding-left: 6px ;
}
