

.buttom__right{
    display: flex;
}
.paging__select{
    display: flex;
    position: relative;
}
.paging__select input[type=text]{
    width: 222px;
    padding: 0 0 0 16px;

}
.drop__paging{
    position: absolute;
    top: -475%;
    z-index: 99;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    border: 1px solid #ddd;
}
.drop__paging--item{
    padding-left: 16px;
    width: 208px;
}
.drop__paging--item:hover{
    background-color: green;
    color: #fff;
}
.drop__paging--icon{
   position: absolute;
   right: 0px; 
}
.page__number{
    display: flex;
    margin-left: 16px;
}
.page__item{
   margin-left: 8px; 
}
.page__number--next{
    margin-left: 16px;
}
.page__active{
    border: 1px solid #ddd;
}